@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 265 43% 94%;
    --foreground: 262 30% 20%;
    --card: 265 43% 99%;
    --card-foreground: 262 30% 20%;
    --popover: 265 43% 99%;
    --popover-foreground: 262 30% 20%;
    --primary: 262 52% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 265 40% 90%;
    --secondary-foreground: 262 52% 51%;
    --muted: 265 40% 90%;
    --muted-foreground: 262 20% 45%;
    --accent: 229 52% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 265 30% 88%;
    --input: 265 30% 92%;
    --ring: 262 52% 51%;
    --chart-1: 262 52% 51%;
    --chart-2: 229 52% 51%;
    --chart-3: 280 50% 60%;
    --chart-4: 250 55% 55%;
    --chart-5: 300 50% 50%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 262 10% 10%;
    --foreground: 265 43% 94%;
    --card: 262 10% 15%;
    --card-foreground: 265 43% 94%;
    --popover: 262 10% 10%;
    --popover-foreground: 265 43% 94%;
    --primary: 262 52% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 262 10% 20%;
    --muted-foreground: 262 20% 65%;
    --accent: 229 52% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 10% 25%;
    --input: 262 10% 25%;
    --ring: 262 52% 51%;
    --chart-1: 262 52% 51%;
    --chart-2: 229 52% 51%;
    --chart-3: 280 50% 60%;
    --chart-4: 250 55% 55%;
    --chart-5: 300 50% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
